.treatment-section {
    margin: 50px 0px;
    background: #FFF9F4;
    border-radius: 30px;
    padding: 60px 40px 60px 60px;
  }
  .heading-section{
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 40px;
  }
  .heading-section .heading{
      color: #303030;
      /* margin-bottom: 15px; */
      font-weight: 500;
      max-width: 600px;
      margin: auto;
  }
  .features-section{
      display: flex;
      align-items: center;
      width: 100%;
      margin-top: 40px;
  }
  .feature{
      background-color: #fff;
      padding: 30px;
      border-radius: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-right: 20px;
      height: 100px;
  }
  .feature p{
    margin-top: 20px;
    text-align: center;
  }
  .explore-treatment{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    color: #4D2C19;
  }